@import "shared/uikit/styles/variables";

.root {
  max-height: 150px;
  width: 100%;
  position: sticky;
  overflow: hidden;
  background: $light;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 18px;
  background: $dark;
}

.icon {
  width: 20px;
  height: 20px;
}

.toggleThemeBtn {

}