@import "shared/uikit/styles/variables";

.root {
  height: $header-height;
  position: sticky;
  overflow: hidden;
  background: $light;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 18px;
  background: $dark;
  color: $light;
}

.icon {
  width: 30px;
  height: 30px;
}
